

<section class="py-5  text-center">
  <div class="container">
    <h2 class="text-danger fw-bold">Our Services</h2>
    <p class=" mb-4">
      At FloorTech, we provide a comprehensive range of industrial flooring and protective coating solutions tailored to
      meet the highest performance, hygiene, and safety standards. Our services are designed to cater to a wide spectrum
      of industries including pharmaceuticals, food processing, automotive, and commercial infrastructure.
    </p>

      <div class="services-gallery">
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3863.png" alt="Service 1" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3866.png" alt="Service 2" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3867.png" alt="Service 3" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3866.png" alt="Service 4" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3867.png" alt="Service 5" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3868.png" alt="Service 6" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3869.png" alt="Service 7" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3865.png" alt="Service 7" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3870.png" alt="Service 7" /></div>
                <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3863.png" alt="Service 7" /></div>
            </div>
  </div>
</section>

  <section class="clients-section">
    <h2 class="client-title ">Our Esteemed Indian Clients</h2>
    <div class="clients-grid">
      <!-- Client Card -->
      <div class="client-card">
        <img src="assets/images/image 43.png" alt="Tata Nano" />
        <p><strong>Tata Nano</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
      </div>
      <div class="client-card">
        <img src="assets/images/image 55.png" alt="Ranbaxy" />
        <p><strong>Ranbaxy</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Thane</p>
      </div>
      <div class="client-card">
        <img src="assets/images/image 47.png" alt="Volkswagen" />
        <p><strong>Volkswagen</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Pune</p>
      </div>
      <div class="client-card">
        <img src="assets/images/image 49.png" alt="Reliance L S" />
        <p><strong>Reliance L S</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Rabale</p>
      </div>
      <div class="client-card">
        <img src="assets/images/image 50.png" alt="New Holland" />
        <p><strong>New Holland</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Noida</p>
      </div>

      <!-- Add more client cards below -->
      <div class="client-card">
        <img src="assets/images/image 45.png" alt="Tek Components" />
        <p><strong>Tek Components</strong></p>
         <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
      </div>
      <div class="client-card">
        <img src="assets/images/image 56.png" alt="Creative Plastic" />
        <p><strong>Creative Plastic</strong></p>
         <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
      </div>
      <div class="client-card">
        <img src="assets/images/images 57.png" alt="Meyer Organics" />
        <p><strong>Meyer Organics</strong></p>
          <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
      </div>
      <div class="client-card">
        <img src="assets/images/images 58.png" alt="Ranbaxy" />
        <p><strong>Ranbaxy</strong></p>
          <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
      </div>
      <div class="client-card">
        <img src="assets/images/images 59.png" alt="Piramal" />
        <p><strong>Nicholas Piramal</strong></p>
          <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
      </div>
    </div>
  </section>

   <section class="clients-section">
    <h2 class="client-title">Our Most Valuable International Clients</h2>
    <div class="clients-grid">
      <!-- Client Card -->
      <div class="client-card">
        <img src="assets/images/Frame 110.png" alt="Tata Nano" />
        <!-- <p><strong>Tata Nano</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Sanand</p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 155 (2).png" alt="Ranbaxy" />
        <!-- <p><strong>Ranbaxy</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Thane</p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 150.png" alt="Volkswagen" />
        <!-- <p><strong>Volkswagen</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Pune</p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 151.png" alt="Reliance L S" />
        <!-- <p><strong>Reliance L S</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Rabale</p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 152.png" alt="New Holland" />
        <!-- <p><strong>New Holland</strong></p>
        <p><i class="fa fa-map-marker-alt"></i> Noida</p> -->
      </div>

      <!-- Add more client cards below -->
      <div class="client-card">
        <img src="assets/images/Frame 148.png" alt="Tek Components" />
        <!-- <p><strong>Tek Components</strong></p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 149.png" alt="Creative Plastic" />
        <!-- <p><strong>Creative Plastic</strong></p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 153.png" alt="Meyer Organics" />
        <!-- <p><strong>Meyer Organics</strong></p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 154.png" alt="Ranbaxy" />
        <!-- <p><strong>Ranbaxy</strong></p> -->
      </div>
      <div class="client-card">
        <img src="assets/images/Frame 147.png" alt="Piramal" />
        <!-- <p><strong>Nicholas Piramal</strong></p> -->
      </div>
    </div>
  </section>





  <section class="py-5 clients-section">
     <!-- Vertical Ticker -->
  <div class="horizontal-ticker-container" style="margin-top: 40px; margin-bottom: 30px;">
  <div class="horizontal-ticker">
    <div class="ticker-content">
      Epoxy Flooring Contractor | Epoxy Coating Services | Clean Room Epoxy Flooring | Epoxy Coving Contractor |
      Pencil Coving Services | Polyurethane Flooring Contractor | PU Coating Services | Car Parking Flooring
      Solutions |
      Anti-Corrosion Coating Contractor | Anti-Fungal Wall Paints for Clean Rooms |
      Industrial Epoxy Flooring | Hygienic Flooring for Clean Rooms
    </div>
  </div>
</div>
  </section>