<section class="py-5  text-center">
  <div class="container">
    <h2 class="text-danger fw-bold">Our Services</h2>
    <p class=" mb-4">
      At FloorTech, we provide a comprehensive range of industrial flooring and protective coating solutions tailored to
      meet the highest performance, hygiene, and safety standards. Our services are designed to cater to a wide spectrum
      of industries including pharmaceuticals, food processing, automotive, and commercial infrastructure.
    </p>

    <div class="services-gallery">
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3863.png" alt="Service 1" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3866.png" alt="Service 2" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3867.png" alt="Service 3" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3866.png" alt="Service 4" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3867.png" alt="Service 5" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3868.png" alt="Service 6" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3869.png" alt="Service 7" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3865.png" alt="Service 7" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3870.png" alt="Service 7" />
      </div>
      <div class="service-item" routerLink="/service"><img src="/assets/images/Rectangle 3863.png" alt="Service 7" />
      </div>
    </div>
  </div>
</section>

<section class="clients-section">
  <h2 class="client-title ">Our Indian Clients</h2>

  <div class="text-end mt-3">
    <a href="javascript:void(0)" class="view-more-link" (click)="toggleMoreClients()">
      {{ showMore ? 'View Less' : 'View More' }}
    </a>

  </div>
  <div class="clients-grid">
    <!-- Client Card -->
    <div class="client-card">
      <img src="assets/images/image 43.png" alt="Tata Nano" />
      <p><strong>Tata Nano</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
    <div class="client-card">
      <img src="assets/images/image 55.png" alt="Ranbaxy" />
      <p><strong>Ranbaxy</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Thane</p>
    </div>
    <div class="client-card">
      <img src="assets/images/image 47.png" alt="Volkswagen" />
      <p><strong>Volkswagen</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Pune</p>
    </div>
    <div class="client-card">
      <img src="assets/images/image 49.png" alt="Reliance L S" />
      <p><strong>Reliance L S</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Rabale</p>
    </div>
    <div class="client-card">
      <img src="assets/images/image 50.png" alt="New Holland" />
      <p><strong>New Holland</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Noida</p>
    </div>

    <!-- Add more client cards below -->
    <div class="client-card">
      <img src="assets/images/image 45.png" alt="Tek Components" />
      <p><strong>Tek Components</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
    <div class="client-card">
      <img src="assets/images/image 56.png" alt="Creative Plastic" />
      <p><strong>Creative Plastic</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
    <div class="client-card">
      <img src="assets/images/images 57.png" alt="Meyer Organics" />
      <p><strong>Meyer Organics</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
    <div class="client-card">
      <img src="assets/images/images 58.png" alt="Ranbaxy" />
      <p><strong>Ranbaxy</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
    <div class="client-card">
      <img src="assets/images/images 59.png" alt="Piramal" />
      <p><strong>Nicholas Piramal</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
  </div>

  <div class="clients-grid" id="moreClients" *ngIf="showMore">
    <!-- Client Card -->
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 96.png" alt="Forms + Surface" />
      <p><strong>Forms + Surface</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 97.png" alt="Kirloskar" />
      <p><strong>Kirloskar</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Pune</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 98.png" alt="Thiese" />
      <p><strong>Thiese</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Gujrat</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 99.png" alt="Zenith Engineering" />
      <p><strong>Zenith Engineering</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 100.png" alt="Galaxy Surfactants" />
      <p><strong>Galaxy Surfactants</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Tarapur–Boisar</p>
    </div>

    <!-- Add more client cards below -->
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 101.png" alt="Tek Components" />
      <p><strong>Gopaldas Visram </strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Goa</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 102.png" alt="Creative Plastic" />
      <p><strong>Kripa Labequi</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Gujrat</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 103.png" alt="Meyer Organics" />
      <p><strong>Isera Biological</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Pune</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 104.png" alt="Ranbaxy" />
      <p><strong>Indo Allied Protien</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Chakan</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 105.png" alt="Piramal" />
      <p><strong>Medibios</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Boisar</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 106.png" alt="Piramal" />
      <p><strong>Hindustan Lab Ltd.</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Palghar, MH</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 107.png" alt="Piramal" />
      <p><strong>Pharcos Specialty </strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Unit II</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 108.png" alt="Piramal" />
      <p><strong>Thiese</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Palghar , Mh</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 109.png" alt="Piramal" />
      <p><strong>Bisleri</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Andheri – Mumbai</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 110.png" alt="Piramal" />
      <p><strong>D’lecta</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Khopol</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 111.png" alt="Piramal" />
      <p><strong>Vista Food</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Taloja</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 112.png" alt="Piramal" />
      <p><strong>Mahalaxmi Mahila </strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Sanand</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 113.png" alt="Piramal" />
      <p><strong>Patanjali</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Chakan</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 114.png" alt="Piramal" />
      <p><strong>Gulbrandsen</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Gujarat</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Indian Client/image 46.png" alt="Piramal" />
      <p><strong>Creative Plastic</strong></p>
      <p><i class="fa fa-map-marker-alt"></i> Daman</p>
    </div>
  </div>
</section>

<section class="clients-section">
  <h2 class="client-title">Our International Clients</h2>
  <div class="text-end mt-3">
    <a href="javascript:void(0)" class="view-more-link" (click)="toggleMoreInternatinalClients()">
      {{ showMoreIndian ? 'View Less' : 'View More' }}
    </a>

  </div>
  <div class="clients-grid">
    <!-- Client Card -->
    <div class="client-card">
      <img src="assets/images/Our Client/image 56.png" alt="Mey & Beker" />
      <p><strong>Mey & Beker</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 57.png" alt="Fidson Ltd." />
      <p><strong>Fidson Ltd.</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 58.png" alt="Pamatex Pharma" />
      <p><strong>Pamatex Pharma</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 59.png" alt="IMI Pharma Ltd" />
      <p><strong>IMI Pharma Ltd</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 60.png" alt="Emzor Ltd." />
      <p><strong>Emzor Ltd.</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>

    <!-- Add more client cards below -->
    <div class="client-card">
      <img src="assets/images/Our Client/image 61.png" alt="Nemel" />
      <p><strong>Nemel</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Kenya</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 62.png" alt="UzgerMed Pharma" />
      <p><strong>UzgerMed Pharma</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Uzbekistan</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 63.png" alt="Bahrain Pharma" />
      <p><strong>Bahrain Pharma</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Bahrain</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 64.png" alt="Taboq Pharma Ltd" />
      <p><strong>Taboq Pharma Ltd</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>North Sudan</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 65.png" alt="Mechnikov" />
      <p><strong>Mechnikov</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>America</p>
    </div>

  </div>
  <div class="clients-grid" id="moreClients" *ngIf="showMoreIndian">
    <!-- Client Card -->

    <div class="client-card">
      <img src="assets/images/Our Client/image 115.png" alt="Tata Nano" />
      <p><strong>Bash Pharma</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>North Sudan</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 116.png" alt="Ranbaxy" />
      <p><strong>B.SARL Biorem</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Algeri</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 66.png" alt="Mechnikov" />
      <p><strong>Stides Shasum</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Cameroon</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 117.png" alt="Ranbaxy" />
      <p><strong>National veterinary</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Ethiopia</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 118.png" alt="Volkswagen" />
      <p><strong>LMP Laboratories</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Tunisia</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 119.png" alt="Reliance L S" />
      <p><strong>National veterinary</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Ethiopia</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 120.png" alt="New Holland" />
      <p><strong>LMP Laboratories </strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Tunisia</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 121.png" alt="New Holland" />
      <p><strong>Isera Biological</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Bangladesh</p>
    </div>

    <!-- Add more client cards below -->
    <div class="client-card">
      <img src="assets/images/Our Client/image 122.png" alt="Tek Components" />
      <p><strong>Aura Pharma </strong></p>
      <p><i class="fa fa-map-marker-alt"></i>DR Congo Africa</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 123.png" alt="Creative Plastic" />
      <p><strong>Navesta</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Srilanka</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 124.png" alt="Meyer Organics" />
      <p><strong>Letap</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Ghana</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 125.png" alt="Ranbaxy" />
      <p><strong>Norbrook</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Kenya</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 126.png" alt="Piramal" />
      <p><strong>SPMC Pharma Pvt</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Srilanka</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 127.png" alt="Piramal" />
      <p><strong>Purlab</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Algeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 128.png" alt="Piramal" />
      <p><strong>Rosas</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Algeria</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 129.png" alt="Piramal" />
      <p><strong>Global</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Iraq</p>
    </div>
    <div class="client-card">
      <img src="assets/images/Our Client/image 130.png" alt="Piramal" />
      <p><strong>Chris Ejik</strong></p>
      <p><i class="fa fa-map-marker-alt"></i>Nigeria</p>
    </div>

  </div>
</section>





<section class="py-5 clients-section">
  <!-- Vertical Ticker -->
  <div class="horizontal-ticker-container" style="margin-top: 40px; margin-bottom: 30px;">
    <div class="horizontal-ticker">
      <div class="ticker-content">
        Epoxy Flooring Contractor | Epoxy Coating Services | Clean Room Epoxy Flooring | Epoxy Coving Contractor |
        Pencil Coving Services | Polyurethane Flooring Contractor | PU Coating Services | Car Parking Flooring
        Solutions |
        Anti-Corrosion Coating Contractor | Anti-Fungal Wall Paints for Clean Rooms |
        Industrial Epoxy Flooring | Hygienic Flooring for Clean Rooms &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        Epoxy Flooring Contractor | Epoxy Coating Services | Clean Room Epoxy Flooring | Epoxy Coving Contractor |
        Pencil Coving Services | Polyurethane Flooring Contractor | PU Coating Services | Car Parking Flooring Solutions
        |
        Anti-Corrosion Coating Contractor | Anti-Fungal Wall Paints for Clean Rooms |
        Industrial Epoxy Flooring | Hygienic Flooring for Clean Rooms
      </div>
    </div>
  </div>
</section>