<nav class="navbar navbar-expand-lg bg-white shadow-sm py-2">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
             <!-- <img src="assets/Logo.jpeg" height="40" /> -->
              <img src="assets/images/Logo.jpeg" alt="lds;fdsf" height="40"/>
            <span class="fw-bold text-uppercase small">Floortech Industries Pvt. Ltd.</span>
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Links + Search + Icons -->
        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav align-items-center mb-2 mb-lg-0 me-3">
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bold" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/service" routerLinkActive="active">Services</a>
                </li>
            </ul>


            <!-- dark-mode-toggle.component.html -->
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-outline-primary btn-sm rounded-circle" (click)="setLightMode()">
                    <i class="bi bi-brightness-high"></i>
                </button>
                <button class="btn btn-outline-dark btn-sm rounded-circle" (click)="setDarkMode()">
                    <i class="bi bi-moon"></i>
                </button>
            </div>



        </div>
    </div>
</nav>
