.nav-link {
  cursor: pointer;
}

/* You can customize more like navbar, buttons etc. */
.navbar.dark-mode {
  background-color: #1f1f1f !important;
   color: white;
}

.navbar.light-mode {
  background-color: #f8f9fa !important;
   color: black;
}


nav.navbar {
  position: sticky !important;   // or fixed
  top: 0;
  z-index: 1050;
  transition: none !important;
  transform: none !important;
  animation: none !important;
  backface-visibility: hidden;
  will-change: auto;
}


nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}
nav.scrolled {
  background-color: #fff;
  transition: background-color 0.3s;
}
