<div class="container mt-4">
  <div class="row align-items-center mb-3">
    <div class="col-12 col-md-8">
      <h5 class="fw-bold">{{ formTitle }}</h5>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-md-end mt-2 mt-md-0">
      <form class="d-flex align-items-center flex-wrap">
        <div>
          <button type="button" class="btn btn-primary" (click)="add()">
            <i class="bi bi-plus"></i> Add New Picture
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- <h4 class="mb-3">Home Master List</h4> -->
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Selected Services</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phoneNumber }}</td>
        <td>{{ contact.service }}</td>
        <td>{{ contact.message }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteContact(contact.id)">
            <i class="bi bi-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  [class.show]="drawervisible"
  [style.visibility]="drawervisible ? 'visible' : 'hidden'"
  style="width: 800px;"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">{{ drawerTitle }}</h5>
    <button type="button" class="btn-close" (click)="drawerClose()"></button>
  </div>
  <div class="offcanvas-body p-2">
    <app-home-drawer
      [drawerClose]="closeCallback"
      [drawerVisible]="drawervisible"
    ></app-home-drawer>
  </div>
</div> -->